body{
    background-color: #cad2c5;
    font-family: 'Karla', sans-serif;
}
fieldset{
    background-color: #ebebeb;
    line-height: 30px;
    width: 400px;
}

fieldset > nav > ul > li > a{
    color: blue;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
@media screen and (max-width: 400px){
    fieldset{
        width: 300px;
    }
    fieldset > nav > ul > li > a{
        color: blue;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
    }
}
legend{
    font-weight: 700;
    text-transform: uppercase;

}
h4{
    font-size: 20px;
}
.kick{
    color: blue;
    text-decoration: none;
}
.kick:visited{
    color: blue;
}
p{
    font-size: 14px;
    line-height: 19px;
}